* {
    font-family: sanfran !important;
}

html {
    scroll-behavior: smooth;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-darkl {
    background-color: #F5F5F7 !important;
}

.bg-darkg {
    background-color: #44464d !important;
}

.navbar {
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
}


/* CARD */

.card-shadow1 {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.card-rounded {
    border-radius: 2.3em !important;
    border-color: transparent;
}

.card-header {
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}


/* Fonts */

h1 {
    color: #1D1D1F;
}

h2 {
    color: #1D1D1F;
    font-weight: 500;
}

p {
    color: #1D1D1F !important;
}

.font-sanfran {
    font-family: sanfran !important;
}

@font-face {
    font-family: Trapstars;
    src: url(../fonts/JudasCapsWd.ttf);
}

@font-face {
    font-family: sanfran;
    src: url(../fonts/sanfran.otf);
}

@font-face {
    font-family: FAKEID;
    src: url(../fonts/FAKEID.ttf);
}


/* Font Colours */

.text-colour-blue1 {
    color: #2892FF;
}

.text-colour-lime {
    color: #10a381;
}


/* Max Width*/

.max-width-100 {
    max-width: 100%;
}

.max-width-75 {
    max-width: 75%;
}

.max-height-10em {
    max-height: 8em;
}


/* Glowing Animation */

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0.4em #7f7e94, inset 0 0 0.4em #7f7e94;
    }
    50% {
        box-shadow: 0 0 2em #7f7e94, inset 0 0 1.4em #7f7e94;
    }
    100% {
        box-shadow: 0 0 0.4em #7f7e94, inset 0 0 0.4em #7f7e94;
    }
}

.circle {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 8px #7f7e94, inset 0 0 8px #7f7e94;
    -webkit-animation: pulse 2s linear 1s infinite;
}


/* Button Colours */

.button-grey {
    background-color: #7c7c7c;
    border: #575a69;
    border-style: solid;
    border-width: 1.4px;
    color: white;
    border-radius: 0.5em;
}

.button-grey:hover {
    background-color: #505050;
    border: #44464d;
    color: white;
    border-style: solid;
    border-width: 1.4px;
    transition: 0.5s ease-in-out;
}

.button-grey:active {
    background-color: #292929;
    border: #44464d;
    color: white;
    border-style: solid;
    border-width: 1.4px;
}

footer {
    padding-bottom: 2em;
}